astroid==2.4.2
click==7.1.2
colorama==0.4.3
configparser==5.0.0
cycler==0.10.0
Flask==1.1.2
chardet==3.0.4
gunicorn==20.0.4
heroku==0.1.4
certifi==2020.6.20
imutils==0.5.3
isort==4.3.21
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
numpy==1.19.0
opencv-python==4.3.0.36
pathlib==1.0.1
Pillow==7.2.0
pylint==2.5.3
PyMySQL==0.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
response==0.4.0
scipy==1.5.1
selenium==3.141.0
shutils==0.1.0
six==1.15.0
toml==0.10.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
